/* 确定版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:1120px) {
    .w {
        width: 96%;
    }
}

body {
    background-color: #ededef;
}

/* 导航栏 */
.nav-box {
    display: block;

    background-color: #1870bf;
    position: sticky;
    top: 0;
}

.nav {
    height: 60px;

    display: flex;

    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 23%;
    height: 40px;
    background-color: white;
}

.navItem {
    flex-grow: 1;
}

.nav p {
    display: inline-block;

    font-size: clamp(0.7rem, 0.489rem + 1.05vw, 1.2rem);

    color: white;
    height: 100%;

    line-height: 60px;
    text-align: center;
}

.nav-search {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 63%;
    width: 14%;
}

.bell,
.privateMessage,
.setUp,
.else {
    margin-left: 2%;
}

.nav-search img {
    height: 100%;
    width: 16%;
    height: 74%;
    margin-top: 4px;
    margin-left: 2px;
}

#navSearchInput {
    float: right;
    padding-left: 5px;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    width: 80%;
}


.nav-ico {
    height: 30px;
    width: 30px;

}

.nav_text {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav_text_common {
    flex-grow: 1;
}

.nav_text_common:hover {
    background-color: white;
    color: black;
}

/* 主体部分 */

.main_main {
    margin-top: 50px;
    position: relative;
}

/* 主体左边 */
.main_left {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 65%;
}

/* 主体右边 */

.main_right_head {
    color: white;
    position: absolute;
    right: 8%;
    top: 0;
    display: inline-block;

    width: 30%;
    width: 282px;
    height: 144px;
    background-color: #005ba3;
}


.leftMain {
    width: 100%;
    height: 500px;
    background-color: whitesmoke;
    margin-top: 50px;
}


.main_right_head_chinese {
    font-size: 16px;
    line-height: 22px;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 20px;
    margin: 5px;
}



.main_right_head_spelling {
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 2px;
}

.main_right_head_focus {
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
}

.main_right_head_focus_number {
    margin-top: 8px;
    font-size: 16px;
    line-height: 22px;
    color: #8EB902;
    text-align: center;
    font-weight: bold;
}

.main_right_content {
    color: white;
    position: absolute;
    right: 8%;
    top: 190px;
    display: inline-block;

    width: 30%;
    width: 282px;

    background-color: #005ba3;
}

.create_common {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px 0 16px;
    overflow: hidden;
    height: 46px;
    font-size: 17px;
    line-height: 45px;
}